*{
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;
    color: rgb(255, 255, 255);
}

@media screen and (min-width:760px){
    .nav-item {
    line-height:60px;
    text-transform: uppercase;
    }
    .nav-link:hover{
        padding:0px;
        border-bottom: 2px solid rgb(121, 207, 121);
    }
    .sticky {
        z-index: 1;
        position: fixed;
        top: 0;
        width: 100%;
        height: 65px;
        overflow: hidden;
    }
    .bg-img{
        border: 3px solid rgb(58, 56, 56);
        border-radius: 50%;
        width: auto;
        height: 525px;
    }
    .video{
        width: 75%;
        border-radius: 20px;
        border: 5px solid rgb(121, 207, 121);
      }

    .slideshow-container {
    position: relative;
    max-width: 75%;
    margin: auto;
    }
    
    .slide {
    display: none;
    width: 100%;
    height: auto;
    }
    
    .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    }
    
    .prev {
    left: 10px;
    }
    
    .next {
    right: 10px;
    }

  }
@media screen and (min-width:280px) and (max-width:759px){
    .video{
        width: 100%;
        height: auto;
        border-radius: 20px;
        border: 5px solid rgb(121, 207, 121);
    }
    .sticky {
        z-index: 1;
        position: fixed;
        top: 0;
        width: 100%;
        overflow: hidden;
    }
    .bg-img{
        border: 3px solid rgb(58, 56, 56);
        border-radius: 50%;
        width: auto;
        height: 400px;
    }
    .aboutMe{
        text-align: left;
    }
    .slideshow-container {
    position: relative;
    max-width: 100%;
    }
    
    .slide {
    display: none;
    width: 100%;
    height: auto;
    }
    
    .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    }
    
    .prev {
    left: 10px;
    }
    
    .next {
    right: 10px;
    }

}
.jerome{
    height: 35px;
    transition: transform 0.3s;
}
.jerome:hover{
    transform: scale(1.1);
}
.img{
    height: 50px;
    width: 70px;
    margin: 10px;
}
.card{
    margin: 5px;
    border-radius: 10px;
}
.h6{
    color: black;
    font-weight: bold;
}
body{
    background-color: rgb(32, 24, 24);
}
.green{
    color:rgb(121, 207, 121);
}

.footer{
    background-color: rgb(121, 207, 121);
}

hr{
    color:rgb(121, 207, 121) ;
}

/* div, img{
    border: 1px solid red;
} */

  